/* ==========================================================================
Main page styles
========================================================================== */
.row{
    background: url('../../content/images/home_background.jpg') no-repeat center center fixed;
    background-size:cover;

    
}
.font_type{
    font-family: Verdana;
}
.subtitlePersonal{
    color:rgb(255,255,255);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    
    background: url('../../content/images/logo-programmer.png') no-repeat center top;
    background-size: contain;
}



/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}
